{% from 'macros/helpers.html' import sprite %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>

    <link rel="stylesheet" href="stylesheets/discgolf.css" />
    <link rel="stylesheet" href="stylesheets/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="stylesheets/app.css">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" /> 
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "shared/app-icons.html" %}
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
    {% block javascript %}
      <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
      <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
      <script src="javascripts/app.js"></script>
    {% endblock %}

</html>
